.jz-pages__budget {
  background: var(--page-bg-color)
  min-height: 100vh
  
  .header-banner {
    background-color: var(--primary-color-light)
    margin: 24PX
    border-radius: 24PX
    padding: 24PX
    box-shadow: 0 4PX 12PX rgba(0,0,0,0.05)
  }
}

.child_budget-root {
  background-color: var(--primary-color-light)
  // color: #ffffff
  padding: 24PX 16PX
}