.jz-pages__index {
  .jz-pages__index-header {
    .row-content-block {
      background: #ffffff
      padding: 16PX
      border-radius: 21PX
      width: 45%
      text-align: center
      color: var(--primary-color)
      box-shadow: 0 2px 8px rgba(24, 144, 255, 0.1)

      .amount-item {
        font-weight: 600
      }

      .col-text-mute {
        color: var(--secondary-text)
      }
    }

    .trend-block {
      background: #ffffff
      border-radius: 12PX
      padding: 16PX
      box-shadow: 0 2px 8px rgba(24, 144, 255, 0.1)

      .trend-item {
        padding: 12PX
        border-radius: 8PX
        width: 30%
      }
    }
  }
  .jz-pages__notification {
    background: #ece9e9
  }

  .remark-statement-btn {
    background-color: $primaryBgColor
    color: #fbfbfb;
    border-radius: 18PX;
    padding: 0 16PX;
  }

  .budget-item {
    background: #ffffff
    padding: 16PX
    border-radius: 21PX
    border: 1PX solid var(--border-color)

    .col-text-mute {
      color: var(--secondary-text)
    }

    .at-progress__outer {
      background: var(--border-color)
    }
    
    // .at-progress__outer-inner {
    //   background: var(--primary-color)
    // }
  }
  .time-range-tabs {
    .tab-item {
        padding: 4px 12px
        margin: 0 4px
        border-radius: 12px
        color: var(--text-color-light)
        background: var(--bg-color-light)
        
        &.active {
        color: var(--primary-color)
        background: var(--primary-color-light)
        }

        &:active {
        opacity: 0.8
        }
    }
    }
}

