@import 'iconfont.css'
  
@font-face {
  font-family: "iconfont"; /* Project id 2523724 */
  src: url('iconfont.woff2?t=1619851634149') format('woff2'),
       url('iconfont.woff?t=1619851634149') format('woff'),
       url('iconfont.ttf?t=1619851634149') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16PX;
  display: inline-block;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}