@import '../_variable.scss';

.header {
  position:relative;
  height:300rpx;
  background: $darkPrimaryColor;
  color:white;
  .surplus {
    color:white;
    padding: 48rpx 0;
    text-align:center;
    color: white;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    padding: 10rpx 0;
    width: 100%;
    border-top:1px solid $darkPrimaryColor;
    & > view {
      width:50%;
      text-align: center;
      display: inline-block;
      &:first-child {
        box-shadow: 1px 0 0 #448aff;
      }
    }
  }
  .edit-icon {
    width:40rpx;
    height:40rpx;
    margin-left:16rpx;
  }
  .surplus-amount {
    overflow:hidden;
    text-align: center;
    image {
      margin-top:8rpx;
    } 
  }
}

.center {
	background:white;
	height:100%;
	.budget-info {
    height:120rpx;
	  padding:8rpx 24rpx 8rpx 12rpx;
    .left {
      float:left;
      text-align:center;
      display:flex;
      justify-content:center;
      margin-top:10rpx;
      image {
        width:70rpx;
        height:70rpx;
      }
    }
    .right {
      margin-left:92rpx;
      padding-bottom:16rpx;
      border-bottom:2rpx solid #f2f2f2;
      .title {
        overflow:hidden;
        position:relative;
        color: $primaryText;
        .balance {
          position:absolute;
          right:0;
          bottom:0;
          color:$secondaryText;
        }
      }
      .budget-amount {
        color:$secondaryText;
      }
    }
  }
  .progress {
    margin:12rpx 0;
    overflow:hidden;
    > view {
      float:left;
      width:50%;
      height:8rpx;
    }
    .orange {
      background:orange;
    }
    .gray {
      background:#f2f2f2;
    }
  }
}