@import '../_variable.scss';

.container {
	height:100%;
	.parent {
    background:#f8f8f8;
    border-bottom:2rpx solid $divideText;
    .left {
      background:#f2f2f2 !important;
    }
  }
  .child .budget-info .right {
    border-bottom:2rpx solid #f2f2f2;
  }
  .parent .budget-info,.child .budget-info {
    height:120rpx;
    padding:8rpx 24rpx 8rpx 12rpx;
    .left {
      float:left;
      text-align:center;
      display:flex;
      justify-content:center;
      margin-top:10rpx;
      image {
        width:70rpx;
        height:70rpx;
      }
    }
    .right {
      margin-left:92rpx;
      padding-bottom:16rpx;
      .title {
        overflow:hidden;
        vertical-align:text-bottom;
      }
      .budget-amount {
        color:$secondaryText;
      }
    }
  }
  .budget-amount, .balance {
    color: $secondaryText;
  }
  .progress {
    margin:12rpx 0;
    overflow:hidden;
    > view {
      float:left;
      width:50%;
      height:8rpx;
    }
    .orange {
      background:orange;
    }
    .gray {
      background:#f2f2f2;
    }
  }
}