@import '../_variable.scss';

page {
  background: #fafafa;
}
.container {
  > .money {
    height:100rpx !important;
    line-height: 100rpx !important;
  }
  > .column {
    height: 100rpx;
    line-height: 100rpx;
    padding:0 24rpx;
    border-bottom: 1px solid #efefef;
    font-size: 28rpx;
    background: white;
    display: flex;
    justify-content: space-between;
    > text {
      min-width:100rpx;
      &:last-child {
        color: $secondaryText;
      }
    }
    .remark {
      height:120rpx !important;
      line-height: 120rpx !important;
      text-align: right;
    }
  }
  > .location-column {
    > view {
      display:flex;
      align-items:center;
    }
    input {
      display: inline-block;
      padding-right:6px;
    }
  }
  .align-right {
    text-align: right;
  }
  .money-input {
    height: 100rpx;
    font-size: 48rpx;
    text-align: right;
  }
  .frequent-use {
    text-align: right;
    font-size: 24rpx;
    margin:24rpx;
    > text:first-child {
      color: $secondaryText;
    }
    .label {
      background: #efefef;
      color: $secondaryText;
      padding:8rpx 16rpx;
      margin-right: 8rpx;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .transfer-type {
    display: flex;
    align-items: center;
    .transfer-icon {
      width:60rpx;
      height:60rpx;
    }
  }
  .input-hidden {
    display: none !important;
  }
  .btn-save {
    margin:12px;
    button {
      color: white;
      background-color: $primaryColor;
    }
  }
}
