@import './_variable.scss';

.wallet-header {
  height: 200rpx;
  position: relative;
  background: linear-gradient(to right, rgb(242, 153, 74), rgb(242, 201, 76));
  color: white;
  .header-container {
    position: absolute;
    bottom:12px;
    left:12px;
  }
  .asset-and-debt {
    font-size: 14px;
    > text {
      margin-right: 8px;
    }
  }
  .eye-item-img {
    font-size: 18px;
    margin-left: 8px;
  }
  .netWorth {
    margin-bottom:12px;
    font-size: 16px;
  }
  .assets {
    height:220rpx;
    display: flex;
    align-items: center;
    > view {
      float:left;
      width:50%;
      color:white;
      text-align:center;
      &:last-child {
        color: #efefef;
      }
    }
    .right > view {
      float:left;
      margin-left:64rpx;
      > text {
        margin-right:28rpx;
      }
    }
  }
  .right-asset {
    position: relative;
    .eye-item-img {
      position: absolute;
      right:18px;
      top:-18px;
      width: 25px;
      height: 25px;
    }
  }
  .yesterday-amount {
    color:white;
    font-size:24rpx;
    text-align:center;
  }
  .header-text {
    font-size: 56rpx;
  }
  .desc-text {
    font-size: 28rpx;
  }
}

#all-assets {
  background:#f2f2f2;
  .asset {
    background:#fff;
    padding:0 24rpx;
    margin-bottom:24rpx;
    box-shadow:0rpx 0rpx 2rpx #ccc;
    &:last-child {
      margin-bottom:0;
    }
    .column:last-child {
      border: none;
    }
    > text {
      color:$primaryText;
    }
    .asset-header {
      display: flex;
      justify-content: space-between;
      padding-top:8px;
    }
  }

  .column:before, .column:after {
    display:table;
    content:" ";
  }
  .column:after {
    clear:both;
  }

  .column {
    height: 80rpx;
    line-height: 80rpx;
    border-bottom:1px solid #efefef;
    &:last-child {
      .title, .money {
        border:none;
      }
    }
    .icon {
      height: 80rpx;
      display: flex;
      justify-content: center;
      flex-direction:column;
    }
    .title {
      margin-left:56rpx;
      font-size:16px;
    }
    .money {
      font-size:16px;
      text-align:right;
      color: $secondaryText;
    }
  }
  
  .zan-loadmore {
    width: 100% !important;
    background: white;
  }
  .icon-small-size {
    width:34rpx;
    height:34rpx;
  }
}
