@import './_variable.scss';
page, .container{
  height: 100%;
}
.container {
  > view {
    width: 100%;
    display: block;
  }
}
.header {
	position:relative;
	color:white;
	height: 340rpx;
	.bg {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
  }
  .level-2 {
    position:absolute;
    bottom:32rpx;
    width:100%;
    .today-expend {
      font-size:64rpx;
      margin-bottom:24rpx;
    }
    > view {
      padding:0 24rpx;
    }
  }
  .no-read-msg:after {
    content: '';
    position: absolute;
    width: 16rpx;
    height: 16rpx;
    top: 0;
    right: 0;
    border-radius: 50%;
    background: #FF0000;
  }
  .pay-num {
    background:rgb(32,86,174);
    margin:0 4rpx;
  }
  .notification {
    position:absolute;
    top:42rpx;
    right:42rpx;
    width:60rpx;
    height:60rpx;
    background:black;
    border-radius:50%;
    padding:8rpx;
    image {
      width:100%;
      height:100%;
    }
  }
  .jz-icon-xiaoxi {
    font-size: 54rpx;
    position: absolute;
    top: 32rpx;
    right: 48rpx;
  }
}

.zan-btns.new-record {
  margin: 0;
  .jz-btn {
    background: $primaryColor;
    color: white;
    margin:15px;
  }
}

.statement-category {
  position: absolute;
  top: 12px;
  left: 12px;
  color: white;
}

.statements {
  .statement-title {
    position: relative;
    z-index: 998;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom:12px;
    font-size: 18px;
    color: #40485B;
    font-weight: bolder;
    margin-left: 14px;
    &:before {
      content: '';
      position: absolute;
      background: #FFF3AC;
      width: calc(100% + 16px);
      height: 12px;
      bottom: 0;
      left: 0;
      border-radius: 12px;
      z-index: -1;
    }
  }
}

.statement-list {
  margin-bottom: 40rpx;
  > .surplus {
    text-align: center;
    > text {
      font-size: 24rpx;
      padding:0 12rpx;
    }
  }
  > .total {
    text-align: right;
    margin:0 32rpx;
    > text {
      font-size: 24rpx;
      &:first-child {
        padding-right: 16rpx;
      }
    }
  }
}
.no-more-data {
  text-align: center;
  color: #999;
  background: #efefef;
  height: 60rpx;
  line-height: 60rpx;
  font-size: 28rpx;
}

// 预算设置
.budget-setting {
  width: 100%;
  font-size: 24rpx;
  box-sizing: border-box;
  padding: 24rpx;
  margin-top: -12rpx;
  background: white;
  border-radius: 10rpx;
  border-bottom: 1px dashed #f3f3f3;
  .budget__cur-month {
    display: flex;
    justify-content: space-between;
  }
  .budget__cur-amount {
    display: flex;
    justify-content: space-between;
    color: $secondaryText;
    font-size: 24rpx;
  }
  .budget-progress {
    height: 6px;
    width: 100%;
    margin: 6px 0;
    position: relative;
    .budget-progress__bg {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background: #F0EAD7;
      position: absolute;
      top: 0;
      left: 0;
    }
    .budget-progress__item {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-radius: 10px;
    }
  }
}
