@import './_variable.scss';
.footer {
  position: fixed;
  height: 90rpx;
  line-height: 90rpx;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: $primaryColor;
  border-top: 1px solid $secondaryBackgroundColor;
  color: white;
  font-size: 32rpx;
}
.list {
  margin-bottom: 100rpx;
  .tips {
    font-size: 28rpx;
    color: $secondaryText;
  }
  .total-tips {
    font-size: 14px;
    text-align: center;
    margin:12px 0;
    color: $secondaryText;
  }
}