@import './_variable.scss';
.footer {
  position: fixed;
  height: 90rpx;
  line-height: 90rpx;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  background: $primaryColor;
  border-top: 1px solid $secondaryBackgroundColor;
  color: white;
  font-size: 32rpx;
}
.list {
  margin-bottom: 100rpx;
  > .preorder-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;
    padding: 16rpx 28rpx;
    font-size: 32rpx;
    .goods {
      flex: 1;
      .title {
        display: flex;
        justify-content: space-between;
        color: $primaryText;
        margin-bottom: 8rpx;
      }
      .description {
        color: $secondaryText;
        margin-bottom: 8rpx;
        font-size: 14px;
      }
      .time-and-money > text {
        margin-right: 8rpx;
        color: $secondaryText;
        font-size: 28rpx;
      }
    }
    image {
      width: 80rpx;
      height: 80rpx;
      margin-right: 16rpx;
    }
  }
  .tips {
    font-size: 28rpx;
    color: $secondaryText;
  }
  .total-tips {
    font-size: 14px;
    text-align: center;
    margin:12px 0;
    color: $secondaryText;
  }
}