@import './_variable.scss';
page {
  height: 100%;
  background: #F4F4F4;
}
.header {
  position: relative;
  font-size:14px;
  height:224px;
  z-index: 88;
  &.no-login {
    filter:blur(2px);
  }
  .background-img {
    width:100%;
    height:140px;
    position: relative;
    padding:1px;
    box-sizing:border-box;
    z-index:1;
  }
  .background-img:after{
      content: "";
      width:100%;
      height:100%;
      position: absolute;
      left:0;
      top:0;
      background: inherit;
      filter: blur(2px);
      z-index: 2;
  }
  .main-container {
    background:white;
    padding:0 8px;
    margin: -100px 6px 12px 6px;
    border-radius:4px;
    position:relative;
    z-index:99;

  }
  .user-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:12px 0;
    border-bottom:1px dashed #f1f1f1;
    .user {
      display: flex;
      align-items:center;
      image {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    .user-info {
      margin-left:12px;
    }
  }
  .header-bottom {
    display: flex;
    align-items: center;
    justify-items: center;
    padding:18px 0;
    > view {
      flex: 1;
      text-align:center;
      image {
        width: 25px;
        height: 25px;
      }
    }
  }
  .bonus {
    color: $secondaryText;
  }
}

.login-message {
  position: absolute;
  top: 0;
  left: 0;
  height: 224px;
  z-index: 120;
  display: flex;
  align-items:center;
  justify-content: center;
  width:100%;
  .get-user-btn {
    background:#2196F3;
    color: white;
    font-size: 14px;
  }
  .continue {
    color: #999;
  }
}

.jz_grid {
  margin-bottom: 16px;
  background:white;
}

.setting-container {
  padding: 0px 20px;
  background: white;
  border-bottom: 1px solid #EAEAEA;
}
