$darkPrimaryColor: #1976D2;
$primaryColor: #2196F3;
$primaryText: #212121;
$secondaryText: #757575;
$divideText: #BDBDBD;
$expendColor: green;
$incomeColor: red;

page {
	height:100%;
	background:#F4F4F4;
}
.header {
	padding:24rpx;
	background:white;
	.get-user-btn {
		border: none;
		display: inline;
		background-color: transparent;
		position: static;
	}
}
.header image {
	width:100rpx;
	height:100rpx;
	display:block;
	margin-right:16rpx;
	border-radius:50%;
}
.user-info {
	font-size:28rpx;
}
.remark-day {
	line-height:90rpx;
	font-size:28rpx;
	color:$secondaryText;
}
.cell-list {
	margin-bottom:24rpx;
}
.cell-list:last-child {
	margin:0;
}
.weui-cells {
	font-size:30rpx;
}
.weui-cell {
	padding:30rpx !important;
}
