@import './_variable.scss';
page {
  height: 100%;
  background: #F4F4F4;
}
.header {
  height: 260rpx;
  background-color: #1976D2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 24px;
  background-repeat:no-repeat;
  background-size:100% 100%;
  .user {
    display: flex;
    .user-avatar {
      width: 60px;
      height: 60px;
      background-color: #37AAFF;
      border: 1px solid white;
      border-radius: 50%;
      display:flex;
      align-items:center;
      justify-content:center;
      font-size:46px;
      color: white;
      image {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .user-info {
      display: inline-block;
      font-size: 16px;
      color: white;
      margin-left: 8px;
      padding-top: 4px;
      > view {
        margin-bottom: 6px;
      }
      .designation {
        margin-left: 8px;
        padding: 0px 4px;
        font-size: 14px;
        border-radius: 1px;
      }
    }
    .get-user-btn {
      border: none;
      display: inline;
      background-color: transparent;
      line-height: 0;
      padding: 0;
      color: white;
    }
    button::after {
      border: 0;
    }
  }
  .arrow-icon{
    width: 35px;
    height: 35px;
    image{
      width: 100%;
      height: 100%;
    }
  } 
  .user-detail-arrow {
    color: white;
    font-size: 21px;
  }
  .user-detail {
    display: flex;
    align-items: center;
  }
  .diamond-vip {
    display: flex;
    align-items: center;
    font-size: 14px;
  }
  .diamond-img {
    width: 20px;
    height: 20px;
  }
}

.jz_grid {
  margin-bottom: 16px;
  background:white;
}

.setting-container {
  padding: 0px 20px;
  background: white;
  margin: 16px 0;
  border-bottom: 1px solid #EAEAEA;
}