@import '../_variable.scss';
.prepare_buy_item {
  background: rgba(0,0,0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  .form {
    width: 80%;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    margin-top: 20px;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    > .item {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $borderColor;
      padding: 8px 0;
      margin: 0 12px;
      .title {
        color: #757575;
      }
      input {
        flex: 1;
        text-align: right;
      }
    }
    .textarea {
      padding: 12px;
    }
    textarea {
      width: 100%;
      height: 160rpx;
    }
  }
  .close-tips {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80px;
    color: #f4f4f4;
    font-size: 16px;
  }
  .zan-btns {
    .delete {
      background: red;
    }
    .already-buy {
      background: rgb(39,174,96);
    }
    button::after {
      border: 0;
    }
  }
  
}