@import '../_variable.scss';
.background-header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}
.header {
	position:relative;
	color:white;
	height:380rpx;
	.bg {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
  }
  .level-2 {
    position:absolute;
    bottom:32rpx;
    width:100%;
    .today-expend {
      font-size:64rpx;
      margin-bottom:24rpx;
    }
    > view {
      padding:0 24rpx;
    }
  }
}

.cover-setting {
  .item {
    width: 25%;
    display: inline-block;
    position: relative;
  }
  .close-item {
    position: absolute;
    right: 0;
    top: 0;
    background: red;
    width: 23px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    color: white;
    z-index: 999;
  }
  image {
    width: 95%;
    height: 80px;
  }
  .vague {
    position: absolute;
    right: 0;
    top: 0;
    background: #ccc;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
  }
}