@import '../_variable.scss';

.header {
	position:relative;
	color:white;
	height:380rpx;
	.bg {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:-1;
  }
  .level-2 {
    position:absolute;
    bottom:32rpx;
    width:100%;
    .today-expend {
      font-size:64rpx;
      margin-bottom:24rpx;
    }
    > view {
      padding:0 24rpx;
    }
  }
}

.cover-setting {
  .item {
    width: 25%;
    display: inline-block;
    position: relative;
  }
  .close-item {
    position: absolute;
    right: 10px;
    top: -5px;
    background: red;
    width: 15px;
    height: 15px;
    text-align: center;
    border-radius: 50%;
    font-size: 14px;
    line-height: 15px;
    color: white;
  }
  image {
    width: 95%;
    height: 80px;
  }
}