.statement-images {
    .year {
      font-size: 40rpx;
      font-weight: bold;
      margin: 12px 0;
    }
    .month {
      font-size: 36rpx;
      margin: 8px 0;
    }
    .image-item-list {
      .image-item {
        width: 25%;
        overflow: hidden;
        text-align:center;
        margin-bottom:12px;
        display: inline-block;
      }
      .statement-info {
        font-size: 24rpx;
        margin-top:-4px;
        text-align: left;
        navigator {
          color: #537c8d;
        }
      }
    }
  }