.user-info-page {
  image {
    width: 80PX
    height: 80PX
  }

  .nickname-input {
    margin: 24PX 12PX
    border-radius: 21PX
  }

  button{
    background: transparent
    border: none
  }
  button::after {
    border: none
  }
}