// 通用组件样式
@import "./vars"
@import "./themes/index"
@import "./common/index"

// 组件通用
@import "./components/statement"
@import "./components/statement_form"
@import "./components/asset_banner"
@import "./components/select_component"
@import "./components/slide_sidebar"

// 页面独立样式
@import "./pages/home/index"
@import "./pages/profile/index"
@import "./pages/profile/category-form"
@import "./pages/finance/index"
@import "./pages/finance/asset_flow"
@import "./pages/statements/detail"
@import "./pages/settings/chart"
@import "./pages/settings/user_info"
@import "./pages/settings/category_manager"
@import "./pages/settings/statement_imgs"
@import "./pages/settings/export_page"
@import "./pages/budget/index"
@import "./pages/statistic/index"
@import "./pages/statistic/calendar"
@import "./pages/friends/invite_info"