.p-auto {
  padding: auto !important;
}
.px-auto {
  padding-left: auto !important;
  padding-right: auto !important;
}
.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}
.pt-auto {
  padding-top: auto !important;
}
.pr-auto {
  padding-right: auto !important;
}
.pb-auto {
  padding-bottom: auto !important;
}
.pl-auto {
  padding-left: auto !important;
}
.p-0 {
  padding: 0PX !important;
}
.px-0 {
  padding-left: 0PX !important;
  padding-right: 0PX !important;
}
.py-0 {
  padding-top: 0PX !important;
  padding-bottom: 0PX !important;
}
.pt-0 {
  padding-top: 0PX !important;
}
.pr-0 {
  padding-right: 0PX !important;
}
.pb-0 {
  padding-bottom: 0PX !important;
}
.pl-0 {
  padding-left: 0PX !important;
}
.p-1 {
  padding: 4PX !important;
}
.px-1 {
  padding-left: 4PX !important;
  padding-right: 4PX !important;
}
.py-1 {
  padding-top: 4PX !important;
  padding-bottom: 4PX !important;
}
.pt-1 {
  padding-top: 4PX !important;
}
.pr-1 {
  padding-right: 4PX !important;
}
.pb-1 {
  padding-bottom: 4PX !important;
}
.pl-1 {
  padding-left: 4PX !important;
}
.p-2 {
  padding: 8PX !important;
}
.px-2 {
  padding-left: 8PX !important;
  padding-right: 8PX !important;
}
.py-2 {
  padding-top: 8PX !important;
  padding-bottom: 8PX !important;
}
.pt-2 {
  padding-top: 8PX !important;
}
.pr-2 {
  padding-right: 8PX !important;
}
.pb-2 {
  padding-bottom: 8PX !important;
}
.pl-2 {
  padding-left: 8PX !important;
}
.p-3 {
  padding: 12PX !important;
}
.px-3 {
  padding-left: 12PX !important;
  padding-right: 12PX !important;
}
.py-3 {
  padding-top: 12PX !important;
  padding-bottom: 12PX !important;
}
.pt-3 {
  padding-top: 12PX !important;
}
.pr-3 {
  padding-right: 12PX !important;
}
.pb-3 {
  padding-bottom: 12PX !important;
}
.pl-3 {
  padding-left: 12PX !important;
}
.p-4 {
  padding: 16PX !important;
}
.px-4 {
  padding-left: 16PX !important;
  padding-right: 16PX !important;
}
.py-4 {
  padding-top: 16PX !important;
  padding-bottom: 16PX !important;
}
.pt-4 {
  padding-top: 16PX !important;
}
.pr-4 {
  padding-right: 16PX !important;
}
.pb-4 {
  padding-bottom: 16PX !important;
}
.pl-4 {
  padding-left: 16PX !important;
}
.p-5 {
  padding: 20PX !important;
}
.px-5 {
  padding-left: 20PX !important;
  padding-right: 20PX !important;
}
.py-5 {
  padding-top: 20PX !important;
  padding-bottom: 20PX !important;
}
.pt-5 {
  padding-top: 20PX !important;
}
.pr-5 {
  padding-right: 20PX !important;
}
.pb-5 {
  padding-bottom: 20PX !important;
}
.pl-5 {
  padding-left: 20PX !important;
}
.p-6 {
  padding: 24PX !important;
}
.px-6 {
  padding-left: 24PX !important;
  padding-right: 24PX !important;
}
.py-6 {
  padding-top: 24PX !important;
  padding-bottom: 24PX !important;
}
.pt-6 {
  padding-top: 24PX !important;
}
.pr-6 {
  padding-right: 24PX !important;
}
.pb-6 {
  padding-bottom: 24PX !important;
}
.pl-6 {
  padding-left: 24PX !important;
}
.p-7 {
  padding: 28PX !important;
}
.px-7 {
  padding-left: 28PX !important;
  padding-right: 28PX !important;
}
.py-7 {
  padding-top: 28PX !important;
  padding-bottom: 28PX !important;
}
.pt-7 {
  padding-top: 28PX !important;
}
.pr-7 {
  padding-right: 28PX !important;
}
.pb-7 {
  padding-bottom: 28PX !important;
}
.pl-7 {
  padding-left: 28PX !important;
}
.p-8 {
  padding: 32PX !important;
}
.px-8 {
  padding-left: 32PX !important;
  padding-right: 32PX !important;
}
.py-8 {
  padding-top: 32PX !important;
  padding-bottom: 32PX !important;
}
.pt-8 {
  padding-top: 32PX !important;
}
.pr-8 {
  padding-right: 32PX !important;
}
.pb-8 {
  padding-bottom: 32PX !important;
}
.pl-8 {
  padding-left: 32PX !important;
}
.p-9 {
  padding: 36PX !important;
}
.px-9 {
  padding-left: 36PX !important;
  padding-right: 36PX !important;
}
.py-9 {
  padding-top: 36PX !important;
  padding-bottom: 36PX !important;
}
.pt-9 {
  padding-top: 36PX !important;
}
.pr-9 {
  padding-right: 36PX !important;
}
.pb-9 {
  padding-bottom: 36PX !important;
}
.pl-9 {
  padding-left: 36PX !important;
}
.p-10 {
  padding: 40PX !important;
}
.px-10 {
  padding-left: 40PX !important;
  padding-right: 40PX !important;
}
.py-10 {
  padding-top: 40PX !important;
  padding-bottom: 40PX !important;
}
.pt-10 {
  padding-top: 40PX !important;
}
.pr-10 {
  padding-right: 40PX !important;
}
.pb-10 {
  padding-bottom: 40PX !important;
}
.pl-10 {
  padding-left: 40PX !important;
}
.m-auto {
  margin: auto !important;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.mt-auto {
  margin-top: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.m-0 {
  margin: 0PX !important;
}
.mx-0 {
  margin-left: 0PX !important;
  margin-right: 0PX !important;
}
.my-0 {
  margin-top: 0PX !important;
  margin-bottom: 0PX !important;
}
.mt-0 {
  margin-top: 0PX !important;
}
.mr-0 {
  margin-right: 0PX !important;
}
.mb-0 {
  margin-bottom: 0PX !important;
}
.ml-0 {
  margin-left: 0PX !important;
}
.m-1 {
  margin: 4PX !important;
}
.mx-1 {
  margin-left: 4PX !important;
  margin-right: 4PX !important;
}
.my-1 {
  margin-top: 4PX !important;
  margin-bottom: 4PX !important;
}
.mt-1 {
  margin-top: 4PX !important;
}
.mr-1 {
  margin-right: 4PX !important;
}
.mb-1 {
  margin-bottom: 4PX !important;
}
.ml-1 {
  margin-left: 4PX !important;
}
.m-2 {
  margin: 8PX !important;
}
.mx-2 {
  margin-left: 8PX !important;
  margin-right: 8PX !important;
}
.my-2 {
  margin-top: 8PX !important;
  margin-bottom: 8PX !important;
}
.mt-2 {
  margin-top: 8PX !important;
}
.mr-2 {
  margin-right: 8PX !important;
}
.mb-2 {
  margin-bottom: 8PX !important;
}
.ml-2 {
  margin-left: 8PX !important;
}
.m-3 {
  margin: 12PX !important;
}
.mx-3 {
  margin-left: 12PX !important;
  margin-right: 12PX !important;
}
.my-3 {
  margin-top: 12PX !important;
  margin-bottom: 12PX !important;
}
.mt-3 {
  margin-top: 12PX !important;
}
.mr-3 {
  margin-right: 12PX !important;
}
.mb-3 {
  margin-bottom: 12PX !important;
}
.ml-3 {
  margin-left: 12PX !important;
}
.m-4 {
  margin: 16PX !important;
}
.mx-4 {
  margin-left: 16PX !important;
  margin-right: 16PX !important;
}
.my-4 {
  margin-top: 16PX !important;
  margin-bottom: 16PX !important;
}
.mt-4 {
  margin-top: 16PX !important;
}
.mr-4 {
  margin-right: 16PX !important;
}
.mb-4 {
  margin-bottom: 16PX !important;
}
.ml-4 {
  margin-left: 16PX !important;
}
.m-5 {
  margin: 20PX !important;
}
.mx-5 {
  margin-left: 20PX !important;
  margin-right: 20PX !important;
}
.my-5 {
  margin-top: 20PX !important;
  margin-bottom: 20PX !important;
}
.mt-5 {
  margin-top: 20PX !important;
}
.mr-5 {
  margin-right: 20PX !important;
}
.mb-5 {
  margin-bottom: 20PX !important;
}
.ml-5 {
  margin-left: 20PX !important;
}
.m-6 {
  margin: 24PX !important;
}
.mx-6 {
  margin-left: 24PX !important;
  margin-right: 24PX !important;
}
.my-6 {
  margin-top: 24PX !important;
  margin-bottom: 24PX !important;
}
.mt-6 {
  margin-top: 24PX !important;
}
.mr-6 {
  margin-right: 24PX !important;
}
.mb-6 {
  margin-bottom: 24PX !important;
}
.ml-6 {
  margin-left: 24PX !important;
}
.m-7 {
  margin: 28PX !important;
}
.mx-7 {
  margin-left: 28PX !important;
  margin-right: 28PX !important;
}
.my-7 {
  margin-top: 28PX !important;
  margin-bottom: 28PX !important;
}
.mt-7 {
  margin-top: 28PX !important;
}
.mr-7 {
  margin-right: 28PX !important;
}
.mb-7 {
  margin-bottom: 28PX !important;
}
.ml-7 {
  margin-left: 28PX !important;
}
.m-8 {
  margin: 32PX !important;
}
.mx-8 {
  margin-left: 32PX !important;
  margin-right: 32PX !important;
}
.my-8 {
  margin-top: 32PX !important;
  margin-bottom: 32PX !important;
}
.mt-8 {
  margin-top: 32PX !important;
}
.mr-8 {
  margin-right: 32PX !important;
}
.mb-8 {
  margin-bottom: 32PX !important;
}
.ml-8 {
  margin-left: 32PX !important;
}
.m-9 {
  margin: 36PX !important;
}
.mx-9 {
  margin-left: 36PX !important;
  margin-right: 36PX !important;
}
.my-9 {
  margin-top: 36PX !important;
  margin-bottom: 36PX !important;
}
.mt-9 {
  margin-top: 36PX !important;
}
.mr-9 {
  margin-right: 36PX !important;
}
.mb-9 {
  margin-bottom: 36PX !important;
}
.ml-9 {
  margin-left: 36PX !important;
}
.m-10 {
  margin: 40PX !important;
}
.mx-10 {
  margin-left: 40PX !important;
  margin-right: 40PX !important;
}
.my-10 {
  margin-top: 40PX !important;
  margin-bottom: 40PX !important;
}
.mt-10 {
  margin-top: 40PX !important;
}
.mr-10 {
  margin-right: 40PX !important;
}
.mb-10 {
  margin-bottom: 40PX !important;
}
.ml-10 {
  margin-left: 40PX !important;
}