// 主题色（深色）
$darkPrimaryColor ?= #1976D2

// 主题色（浅色）
$primaryColor ?= #2196F3

// 文本颜色
$primaryText ?= #212121

// 二级文本颜色
$secondaryText ?= #757575

// 分隔符颜色
$divideText ?= #BDBDBD

// 金额支出颜色
$expendColor ?= #2ecc71

// 金额收入颜色
$incomeColor ?= #e74c3c

// 分隔符背景色
$secondaryBackgroundColor ?= #f1f1f1

$iconGrey ?= #bcbcbc

$linkColor ?= #537c8d


// ======= 全局通用
// 边框颜色
$borderColor ?= #e4e4e4

// 背景色
$backgroundColor ?= #f4f4f4

.col-expend, .col-debt {
	color: $expendColor
}

.col-transfer {
  color: #95a5a6
}

.col-loan_in {
  color: #3498db
}

.col-loan_out {
  color: #2980b9
}

.col-repayment {
  color: #9b59b6
}

.col-reimburse {
  color: #f39c12
}

.col-payment_proxy {
  color: #1abc9c
}

.col-income, .col-deposit {
	color: $incomeColor
}

.col-text {
	color: $primaryText
}

.col-text-mute {
	color: $secondaryText
}

.col-text-warn {
	color: #e74c3c
}

.col-pure-white {
	color: #FFFFFF
}

.bg-color-white {
	background-color: #FFFFFF
}

.bg-color-fbfbfb {
	background-color: #FBFBFB
}

view {
	box-sizing border-box
}