@import '../_variable.scss';
@import '../super_statement.scss';
.header {
  .amount {
    display: flex;
    justify-content: space-between;
    > text {
      font-size: 21px;
    }
    .btn.transfer-btn {
      font-size: 14px;
      background: $primaryColor;
      border: 1px solid $primaryColor;
      color: white;
      padding: 4px 8px;
    }
  }
  .jz-icon-edit {
    font-size: 21px;
    margin-left: 4px;
    color: $iconGrey;
  }
}