.header-1 {
  display: block
  font-weight: bold
  font-size: 36px
  padding: 6px
}

.header-with-color-bottom {
  position: relative;
  z-index: 998;
  display: inline-block;
  padding-bottom: 4px;
  margin-bottom:12px;
  font-size: 36px;
  color: #40485B;
  font-weight: bolder;

  &:before {
    content: '';
    position: absolute;
    background: #FFF3AC;
    width: calc(100% + 16px);
    height: 12px;
    bottom: 0;
    left: 0;
    border-radius: 12px;
    z-index: -1;
  }
}