.jz-image {
  display: inline-block

  &-normal {
    width: 100px;
    height: 100px;

    image {
      width: 100%;
      height: 100%;
    }
  }

  &-icon {
    width: 60px;
    height: 60px;

    image {
      width: 100%;
      height: 100%;
    }
  }
  

  &.radius {
    border-radius: 30PX
    image {
      border-radius: 30PX
    }
  }
}