.text-bold {
  font-weight: bold
}

for fontSize in (12..32)
  .fs-{fontSize}
    font-size "%sPX !important" % (fontSize)

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}