.jz-common-component__input, .jz-common-component__textarea {
  .label {
    margin: 21PX 0 0PX 12PX
  }
  input {
    background: #ffffff
    padding: 12PX 18PX
    border-radius: 8PX
  }
  textarea {
    background: #ffffff
    padding: 12PX 18PX
    border-radius: 8PX
    width: 100%
  }
  .virtual-input {
    background: #ffffff
    padding: 12PX 18PX
    border-radius: 8PX
    margin: 12PX
  }
}